

.container{

    border: 5px solid red;
    display: flex;
}




.box{

    border:2px solid black;
    background-color: aqua;
    margin: 5px 5px;
    height:100px;
    width:101px;

/*     ==============This is changed section in the github=================== */

    padding:1px 1px;

}
